/* Hide scrollbar for clean UI */
#note_content {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE / Edge */
}

#note_content::-webkit-scrollbar {
  display: none;                /* Chrome / Safari */
}